
compile '/static/*' do
end

compile '/guides/compute' do
  filter :kramdown, :toc_levels => [2]
  filter :erb
  filter :colorize_syntax, :default_colorizer => :pygmentsrb
  layout 'compute'
end

compile '/guides/api' do
  filter :kramdown, :toc_levels => [2]
  filter :erb
  filter :colorize_syntax, :default_colorizer => :pygmentsrb
  layout 'api'
end

compile '/guides/api/*' do
  filter :kramdown, :toc_levels => [2]
  filter :erb
  filter :colorize_syntax, :default_colorizer => :pygmentsrb
  layout 'apipages'
end

compile 'overview' do
  filter :kramdown, :toc_levels => [2]
  filter :erb
  filter :colorize_syntax, :default_colorizer => :pygmentsrb
  layout 'first'
end

compile '/guides/*' do
  filter :kramdown, :toc_levels => [2]
  filter :erb
  filter :colorize_syntax, :default_colorizer => :pygmentsrb
  layout 'guides'
end


compile '*' do
  filter :erb
  filter :kramdown, :toc_levels => [2]
  filter :colorize_syntax,
         :colorizers => {:javascript => :pygmentsrb}
  layout item[:layout] || 'default'
end

route '/static/*' do
  item.identifier[7..-2]
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :erb

