
<!--footer -->
    <footer  id="footer" class="footer">
	<div class='footer_top'>       
	<div class="row ">
       </div>
       <div class="row ">
	
        <div class=" col-md-offset-1 col-md-3">
		<p><img src='/shared/images/argo-logo.png' alt='Argo'  /></p>		
		<p>ARGO is a lightweight service for Service Level Monitoring designed for medium and large sized Research Infrastructures. </p>
   	</div>
	 <div class="col-md-offset-1 col-md-3">
		<h4>Contact Us</h4>
		<address>
 		<strong>Full Name</strong><br>
  		<a href="mailto:#" style='color:white;'>first.last@example.com</a>
		</address>
   	</div>
 	<div class="col-md-4">
		<h4>Something Else</h4>
		<p> and something else to do .. </p>
   	</div>
      </div>
      </div><!--footer_top-->
      <div class="footer_bottom_holder">
	<div class="footer_bottom">
	<div class="textwidget"><span>&copy; 2014 - 2015 Created by LALAKIS</span></div>
	</div>
     </div>	
    </footer>
<!--/footer -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/shared/js/jquery.min.js"></script>
    <script src="/shared/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/shared/js/ie10-viewport-bug-workaround.js"></script>
      <script src="/shared/js/jquery.easing.1.3.js"></script>
  <script src="/shared/js/jquery.animate-enhanced.min.js"></script>
  <script src="/shared/js/jquery.superslides.min.js" type="text/javascript" charset="utf-8"></script>
  <script>
    $(function() {
    

      $('#slides').superslides({
        hashchange: false,
        play: 10000
      });

    });
  </script>
