<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		    <span class="sr-only">Toggle navigation</span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="/index.html"><img src='/shared/images/argo-logo.png' alt='ARGO'  /></a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
		  <ul class="nav navbar-nav navbar-right">
		    <li class="active"><a href="/index.html">Home</a></li>
		    <li><a href="/index.html#what">About</a></li>
		    <li><a href="/index.html#features">Features</a></li>
		    <li><a href="/use-cases/">Use cases</a></li>
		    <li class="dropdown">
		      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Documentation <span class="caret"></span></a>
		      <ul class="dropdown-menu" role="menu">
			<li><a href="/overview/"><em class="fa fa-file-text-o"></em>  Overview</a></li>
			<li><a href="/guides/installation/"><em class="fa fa-file-text-o"></em>  Installation</a></li>
			<li><a href="/guides/sync/"><em class="fa fa-refresh"></em> EGI Connectors</a></li>
			<li><a href="/guides/poem/"><em class="fa fa-check-square-o"></em>  Poem service</a></li>
			<li><a href="/guides/consumer/"><em class="fa fa-send-o"></em>  Consumer</a></li>
			<li><a href="/guides/argo-compute-engine/"><em class="fa fa-cog"></em>  Compute Engine</a></li>
			<li><a href="/guides/webui/"><em class="fa fa-connectdevelop"></em>  Web UI</a></li>
			<li class="divider"></li>
			<li class="dropdown-header">Developers</li>
			<li><a href="/guides/api/"><em class="fa fa-cogs"></em>  API </a></li>
			<li><a href="#"><em class="fa fa-github-alt"></em>  Github</a></li>
		      </ul>
		    </li>
		  </ul>
		</div><!--/.nav-collapse -->
	</div><!--container-->
</nav>
