         <div class="list-group">	
            <a class="list-group-item disabled blue" href="#">Documentation</a>
          <% if @item[:page_title] ==  "Overview" %>	
            <a class="list-group-item active" href="/overview/">Overview</a>
          <% else %>
            <a class="list-group-item" href="/overview/">Overview</a>
          <% end %>
          <% if @item[:page_title] ==  "Installation" %>	
            <a class="list-group-item active" href="/guides/installation/">Installation</a>
          <% else %>
            <a class="list-group-item" href="/guides/installation/">Installation</a>
          <% end %>
            <a class="list-group-item disabled blue" href="#">Components</a>
          <% if @item[:page_title] ==  "Sync compoments" %>	
            <a class="list-group-item active" href="/guides/sync/"><i class="fa fa-refresh"></i> Sync components</a>
          <% else %>
            <a class="list-group-item" href="/guides/sync/"><i class="fa fa-refresh"></i> Sync components</a>
          <% end %>
          <% if @item[:page_title] ==  "POEM service for ARGO framework" %>	
            <a class="list-group-item active" href="/guides/poem/"><i class="fa fa-check-square-o"></i> Poem service</a>
          <% else %>
            <a class="list-group-item" href="/guides/poem/"><i class="fa fa-check-square-o"></i> Poem service</a>
          <% end %>
          <% if @item[:page_title] ==  "Consumer Service" %>	
            <a class="list-group-item active" href="/guides/consumer/"><i class="fa fa-send-o"></i> Consumer</a>
          <% else %>
            <a class="list-group-item" href="/guides/consumer/"><i class="fa fa-send-o"></i> Consumer</a>
          <% end %>
          <% if @item[:page_title] ==  "Compute Engine documentation" %>	
            <a class="list-group-item active " href="/guides/compute/"><i class="fa fa-cog"></i> Compute Engine</a>
          <% else %>  
            <a class="list-group-item " href="/guides/compute/"><i class="fa fa-cog"></i> Compute Engine</a>
          <% end %>
          <% if @item[:page_title] ==  "API documentation" %>	
            <a class="list-group-item active" href="/guides/api/">
          <% else %>
            <a class="list-group-item" href="/guides/api/" >
          <% end %>
          <i class="fa fa-cogs"></i> API</a>
          <% if @item[:page_title] ==  "Web UI" %>	
            <a class="list-group-item active" href="/guides/webui/"><i class="fa fa-connectdevelop"></i> Web UI</a>
          <% else %>
            <a class="list-group-item" href="/guides/webui/"><i class="fa fa-connectdevelop"></i> Web UI</a>
          <% end %>
          </div> <!--list group-->
