         <div class="list-group" >	
            <a class="list-group-item disabled blue" href="/overview/">Documentation</a>
          <% if @item[:page_title] ==  "Overview" %>	
            <a class="list-group-item active" href="/overview/">Overview</a>
          <% else %>
            <a class="list-group-item" href="/overview/">Overview</a>
          <% end %>
            <a class="list-group-item disabled blue" href="/guides/installation/">Installation</a>
          <% if @item[:page_title] ==  "Installation - Standalone" %>	
            <a class="list-group-item active" href="/guides/installation/"><em class="fa fa-terminal"></em> Standalone</a>
          <% else %>
            <a class="list-group-item" href="/guides/installation/"><em class="fa fa-terminal"></em> Standalone</a>
          <% end %>
          <% if @item[:page_title] ==  "Installation for cluster mode" %>	
            <a class="list-group-item active" href="/guides/installation_cluster/"><em class="fa fa-sitemap"></em> Cluster Mode</a>
          <% else %>
            <a class="list-group-item" href="/guides/installation_cluster/"><em class="fa fa-sitemap"></em> Cluster Mode</a>
          <% end %>
            <a class="list-group-item disabled blue" href="/guides/egi-connectors/">Components</a>
          <% if @item[:page_title] ==  "EGI connectors" %>	
            <a class="list-group-item active" href="/guides/egi-connectors/"><em class="fa fa-refresh"></em> EGI Connectors</a>
          <% else %>
            <a class="list-group-item" href="/guides/egi-connectors/"><em class="fa fa-refresh"></em> EGI Connectors</a>

          <% end %>
          <% if @item[:page_title] ==  "POEM service for ARGO framework" %>	
            <a class="list-group-item active" href="/guides/poem/"><em class="fa fa-check-square-o"></em> Poem service</a>
          <% else %>
            <a class="list-group-item" href="/guides/poem/"><em class="fa fa-check-square-o"></em> Poem service</a>
          <% end %>
          <% if @item[:page_title] ==  "Consumer Service" %>	
            <a class="list-group-item active" href="/guides/consumer/"><em class="fa fa-send-o"></em> Consumer</a>
          <% else %>
            <a class="list-group-item" href="/guides/consumer/"><em class="fa fa-send-o"></em> Consumer</a>
          <% end %>
          <% if (@item[:page_title] ==  "Compute Engine documentation") || 
          	(@item[:page_title] == "Compute Engine Input") ||
          	(@item[:page_title] == "Compute - Installation") ||
  	  		(@item[:page_title] == "Compute engine job configurations") ||
	  		(@item[:page_title] == "Compute Engine Info") ||
			(@item[:page_title] == "Compute - Cli interaction" ) %>	
            <a class="list-group-item active " href="/guides/argo-compute-engine/"><em class="fa fa-cog"></em> Compute Engine</a>
          <% else %>  
            <a class="list-group-item " href="/guides/argo-compute-engine/"><em class="fa fa-cog"></em> Compute Engine</a>
          <% end %>
  	  <div id='caret-data1'>
  	      <% if @item[:page_title] ==  "Compute - Installation" %>
              <a class="list-group-item-level2 active"  href="/guides/argo-compute-engine/installation/">
            <% else %>
              <a class="list-group-item-level2"  href="/guides/argo-compute-engine/installation/">
            <% end %>
            <em class="fa fa-cog"></em> Compute engine Installation </a>
            <% if @item[:page_title] ==  "Compute Engine Input" %>
              <a class="list-group-item-level2 active"  href="/guides/argo-compute-engine/input/">
            <% else %>
              <a class="list-group-item-level2"  href="/guides/argo-compute-engine/input/">
            <% end %>
            <em class="fa fa-cog"></em> Compute Engine Input </a>
 	    <% if @item[:page_title] ==  "Compute engine job configurations" %>
              <a class="list-group-item-level2 active"  href="/guides/argo-compute-engine/report-configuration/">
            <% else %>
              <a class="list-group-item-level2"  href="/guides/argo-compute-engine/report-configuration/">
            <% end %>
            <em class="fa fa-cog"></em> Compute Engine report configurations </a>

 
 	    <% if @item[:page_title] ==  "Compute - Cli interaction" %>
              <a class="list-group-item-level2 active"  href="/guides/argo-compute-engine/cli-interaction/">
            <% else %>
              <a class="list-group-item-level2"  href="/guides/argo-compute-engine/cli-interaction/">
            <% end %>
            <em class="fa fa-cog"></em> Compute Engine CLI </a>


	  </div>
          <% if (@item[:page_title] == "API documentation") || 
          (@item[:page_title] == "API - Status results") ||
          (@item[:page_title] == "API - Metric result") ||
          (@item[:page_title] == "API - Availabilities & Reliabilities") ||
          (@item[:page_title] == "API - Recalculation Requests") ||
          (@item[:page_title] == "API - Availability Profiles") ||
          (@item[:page_title] == "API - POEM Profiles")
          %>
            <a class="list-group-item active" href="/guides/api/" id='caretclick' data-caret='open'>
          <% else %>
            <a class="list-group-item" href="/guides/api/" id='caretclick' data-caret='open'> 
          <% end %>
          <em class="fa fa-cogs"></em> API <span class="caret" ></span></a>

          <div id='caret-data'>
            <% if @item[:page_title] ==  "API - Status results" %>
              <a class="list-group-item-level2 active"  href="/guides/api/status-results/">
            <% else %>
              <a class="list-group-item-level2"  href="/guides/api/status-results/">
            <% end %>
            <em class="fa fa-cogs"></em> API - Status results</a>

            <% if @item[:page_title] ==  "API - Availabilities & Reliabilities" %>
              <a class="list-group-item-level2 active"  href="/guides/api/avail-reliab/">
            <% else %>
              <a class="list-group-item-level2"  href="/guides/api/avail-reliab/">
            <% end %>
            <em class="fa fa-cogs"></em> API - Availabilities & Reliabilities</a>

            <% if @item[:page_title] ==  "API - Metric Result" %>
              <a class="list-group-item-level2 active"  href="/guides/api/metric-result/">
            <% else %>
              <a class="list-group-item-level2"  href="/guides/api/metric-result/">
            <% end %>
            <em class="fa fa-cogs"></em> Metric Result</a>

            <% if @item[:page_title] ==  "API - Recalculation Requests" %>
              <a class="list-group-item-level2 active"  href="/guides/api/recalculationrequests/">
            <% else %>
              <a class="list-group-item-level2"  href="/guides/api/recalculationrequests/">
            <% end %>
            <em class="fa fa-cogs"></em> Recalculation Requests</a>

            <% if @item[:page_title] ==  "API - Availability Profiles" %>
              <a class="list-group-item-level2 active"  href="/guides/api/availabilityprofs/">
            <% else %>
              <a class="list-group-item-level2"  href="/guides/api/availabilityprofs/">
            <% end %>
            <em class="fa fa-cogs"></em> API - Availability Profiles</a>

            <% if @item[:page_title] ==  "API - POEM Profiles" %>
              <a class="list-group-item-level2 active"  href="/guides/api/poemprofiles/">
            <% else %>
              <a class="list-group-item-level2"  href="/guides/api/poemprofiles/">
            <% end %>
            <em class="fa fa-cogs"></em> API - POEM Profiles</a>

        </div>
          <% if @item[:page_title] ==  "Web UI" %>	
            <a class="list-group-item active" href="/guides/webui/"><em class="fa fa-connectdevelop"></em> Web UI</a>
          <% else %>
            <a class="list-group-item" href="/guides/webui/"><em class="fa fa-connectdevelop"></em> Web UI</a>
          <% end %>
          </div> <!--list group-->
          <p>&nbsp;</p>

          <% if @item[:page_title] ==  "Installation for cluster mode" or @item[:page_title] ==  "Installation - Standalone"%>	
          <div class="bg-info" style='background-color:#eee;'>
            <a  href="https://github.com/ARGOeu/argo-ansible" target='blank' ><em class='fa fa-github-alt' style='font-size:40px;padding-top:-10px;margin-top:-50px;color:#123f7c;'></em></a>
            <p class="text-muted" style='padding:10px;'><a  href="https://github.com/ARGOeu/argo-ansible" target='blank' >Fork the github repository and install ARGO via Ansible playbook.</a></p>
          </div>
          <% end %>


